.tile__intro {
    width: 100%;
    background-color: rgb(203, 200, 207);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 1em;
    border-radius: 30px;
}

.self_image {
    max-width: 30em; 
    max-height: 30em;
    border-radius: 0px;
}

.intro {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}

.intro__section {
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
}

.centert{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-radius: 10px;
  text-align: center;
}
.intro__subtitle {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: right; 
    padding-right: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

@media (min-width: 800px) {
    .intro {
        flex-direction: row;
    }

    .intro__section {
        padding-left: 1em;
        padding-top: 2em;
    }
}
.padding-b{
    padding-bottom: 2em;
}